.thumbsUp {
  color: black;
}
.thumbsDown {
  color: black;
}
.thumbsUp:hover {
  color: green;
  cursor: pointer;
}
.thumbsDown:hover {
  color: red;
  cursor: pointer;
}

.delete {
  color: red;
}

.delete:hover {
  cursor: pointer;
}

.order:hover{
  color: blue;
  cursor: pointer;
}
