.thumbsUp {
  color: black;
}
.thumbsDown {
  color: black;
}
.thumbsUp:hover {
  color: green;
  cursor: pointer;
}
.thumbsDown:hover {
  color: red;
  cursor: pointer;
}

.delete {
  color: red;
}

.edit:hover {
  cursor: pointer;
}

.delete:hover {
  cursor: pointer;
}

.order:hover{
  color: blue;
  cursor: pointer;
}

body {
    font-family: "Raleway", sans-serif;
}

th, td {
    padding: 8px 16px;
    border-bottom: 1px solid #ddd;
}

.list-margin {
    margin: 16px;
}

.list-card {
    box-shadow: 0 2px 5px 0 rgba(0,0,0,0.16), 0 2px 10px 0 rgba(0,0,0,0.12);
    box-sizing: inherit;
}

.list-padding-16 {
    padding-top: 16px;
    padding-bottom: 16px;
}

table {
  border-collapse: collapse;
}

tr:hover {background-color: #f5f5f5;}

.outer-div{
  max-width: 1300px;
}

.category-panel{
  max-width: 200px;
}

.panel {
    padding: 0.01em 16px;
}

.button {
  padding: 10px 24px;
  border: 1px solid #ccc;
  text-align: center;
  cursor: pointer;
  white-space: nowrap;
  vertical-align: middle;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  margin: 10px;

}

.button:hover {
    color: #000;
    background-color: #fff;
}

.form-header {
    color: #fff;
    background-color: #009688;
    margin-top:10px;
    margin-left:10px;
    padding: 0.01em 16px;
    display:block;
    
}

.form-container  {
    padding: 0.01em 10px;
    margin-left: 10px;
    box-shadow: 0 4px 10px 0 rgba(0,0,0,0.2), 0 4px 20px 0 rgba(0,0,0,0.19);
  
}
  
.text-grey {
    color: #757575;
}

.input-field {
  border: 1px solid #ccc;
    padding: 8px;
    display: block;
  
    overflow: visible;
}

.outer-form-container{
   max-width: 400px;

}
 
 .teal {
    color: #fff;
    background-color: #009688;
 }

 .counter {
    background-color: black;
    color: #fff;
    display: inline-block;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 50%;
 }

 .comment-ul {
   list-style-type: none;
   padding: 0;
   margin: 0;
 }

 .comment-li {
   border-bottom: 1px solid #ddd;
 }


  
  